@import '~view-design/src/styles/index.less';

// Here are the variables to cover, such as:
@primary-color: #8c0776;
@link-color             : #ffffff;
@link-hover-color       : #ffffff;
@link-active-color      : #ffffff;